.center-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.combo-color {
  color: #f28300;
}
.div-box {
  background: #ffffff;
  padding: 1.2rem;
  box-shadow: 1px 2px 12px 1px #00000033;
  border-radius: 0.5rem;
  width: 60rem;
  margin-top: -6rem;
  z-index: 1;
}
.text-div {
  display: flex;
  justify-content: space-between;
}
.text-from {
  font-size: 0.8rem;
  color: black;
  text-align: center;
}
.text-from1 {
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
}
.btn-book {
  background-color: #f28500;
  padding: .4rem;
  border-radius: 0.3rem;
  text-align: center;
  color: white;
  border: none;
  width:8rem;
  margin-top: 1rem;
}
@media(max-width: 1024px){
    .size-img{
        width: 35rem;
    }
    .size-img1{
        width: 20rem;
    }
    .div-box {
        background: #ffffff;
        padding: 1.2rem;
        box-shadow: 1px 2px 12px 1px #00000033;
        border-radius: 0.5rem;
        width: 45rem;
        margin-top: -6rem;
        z-index: 1;
      }
      .text-from {
        font-size: 0.8rem;
        color: black;
        text-align: center;
      }
      .text-from1 {
        font-size: 1.2rem;
        color: black;
        font-weight: 600;
      }
}
@media(max-width:500px){
    .size-img{
        width: 20rem;
    }
    .size-img1{
        width: 20rem;
    }
    .div-box {
        background: #ffffff;
        padding: 1.2rem;
        box-shadow: 1px 2px 12px 1px #00000033;
        border-radius: 0.5rem;
        width: 100%;
        margin-top: -6rem;
        z-index: 1;
      }
      .text-from {
        font-size: 0.8rem;
        color: black;
        text-align: center;
      }
      .text-from1 {
        font-size: 1rem;
        color: black;
        font-weight: 600;
        text-align: center;
      }
}